{% extends 'base2.html.twig' %}

{% block title %}Liste Amis - PDF{% endblock %}

{% block body %}{% block content %}
    <p style="text-align:center; font-family:'Poppins', sans-serif;font-size: 30px"><B>Liste des amis</B></p>
    <table style="border: medium solid #D1D1D1;
border-collapse: collapse;
width: 105%;position:relative; right:10px; top:20px">
        <thead>
        <tr>
            <th style="text-align:center; font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
background-color: #E6E6E6;
font-size: 13px">
                Email
            </th>
            <th style="text-align:center; font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
background-color: #E6E6E6;
font-size: 13px">
                Prénom
            </th>
            <th style="text-align:center; font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
background-color: #E6E6E6;
font-size: 13px">
                Nom
            </th>
            <th style="text-align:center; font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
background-color: #E6E6E6;
font-size: 13px">
                Téléphone fixe
            </th>
            <th style="text-align:center; font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
background-color: #E6E6E6;
font-size: 13px">
                Téléphone portable
            </th>
            <th style="text-align:center; font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
background-color: #E6E6E6;
font-size: 13px">
                Adresse
            </th>
            <th style="text-align:center; font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
background-color: #E6E6E6;
font-size: 13px">
                Ville
            </th>
            <th style="text-align:center; font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
background-color: #E6E6E6;
font-size: 13px" colspan="2">
                Parrainages
            </th>
        </tr>
        </thead>
        <tbody>
        {% for amis in amies %}
            <tr>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.email }}
                </td>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.prenom }}
                </td>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.nom }}
                </td>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.telFixe }}
                </td>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.telPortable }}
                </td>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.adresse }}
                </td>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.ville }}
                </td>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.amis1 }}
                </td>
                <td style="font-family: 'Poppins', sans-serif;
border: thin solid #afafaf;
width: 30%;
padding: 4px;
text-align: center;
background-color: #ffffff;
font-size: 13px">
                    {{ amis.amis2 }}
                </td>
                <td>
                    <a href="{{ path('amis_pdf') }}">

                    </a>
                </td>
                <td>
                    <a href="{{ path('amis_pdf') }}">

                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">
                    no records found
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('amis_pdf') }}">

    </a>
    </body>
{% endblock %}{% endblock %}
